<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <section class="container align-content-center">
            <section class="wrapper text-center col-6 border">
                <h2><u>Guess a number between {{start_value}} and {{end_value}}</u></h2>
                <form class="form-group" action="/" method="post">
                    <label>Guess: <input name="guess" type="number" required/></label>
                    <br>
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </section>
            <hr>
            <section>

                <h3>Dynamic text will go here...</h3>

            </section>
        </section>
    </body>
</html>